@charset "utf-8";
@import url(setting.css);
/* ************************************************************************************************************************************************************
						《 공통 레이아웃 스타일 》
************************************************************************************************************************************************************ */

/*
	z-index 위계

	.site_wrap		999
*/

/* ============================== [ 레이아웃 리셋 Layout Reset ] ========================================================================================== */
/* Reset */
html,body,div,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,big,cite,code,del,dfn,font,figure,figcaption,img,ins,q,s,samp,small,strike,sub,sup,tt,var,
b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {font:16px/1.2em 'Pretendard',sans-serif;}
button,input,textarea {font:16px/1.2em 'Pretendard',sans-serif;}
select {font:16px/1.2em 'Pretendard',sans-serif;}
::selection {color:#fff; background-color:#004538;}
.go_view {position:absolute; left:0; top:0; height:100%; width:100%;}
figure img {display:block; width:100%; height:auto; object-fit:cover;}
* {word-wrap:break-word; word-break:keep-all; box-sizing: border-box;}

/* ============================== [ 공통레이아웃 ] ========================================================================================== */
.inner {width:100%; max-width:1480px; margin:0 auto; padding:0 20px; box-sizing:border-box;}

/* -------------------- #header ---------------------------------------- */
html {font-size:62.5%;}
body {font-size:1.6rem;}
@media only screen and (max-width: 768px) {
    html {font-size:56.3%;}
}
@media only screen and (min-width: 768px) and (max-width: 1239px){
    html {font-size:56.3%;}
}
@media only screen and (max-width: 767px) {
    html {font-size:50%;}
}

/* ============================== [ header ] ========================================================================================== */
header {padding: 3.6rem 6rem; width: 100%; display: flex; align-items: center; justify-content: space-between; position: fixed; left: 0; top: 0; z-index: 100; background-color: #fff;}
header h1 a {width: 23.9rem;}
header nav {width: 38%;}
header nav ul {display: flex; justify-content: space-between;}
header nav ul a {font-size: 2rem; font-weight: 700; padding: 2rem 0;}
header .util {display: flex; align-items: center; gap:2.4rem}
header .util button {width: 17.8rem; height: 4.7rem; border-radius: 2.4rem; font-size: 1.8rem; font-weight: 700; background-color: #bcad96; color: #fff;}
header .util a {padding-left: 3.4rem; font-weight: 600; background: url(../images/common/icon_call.png) no-repeat left center; background-size: 2.2rem; font-size: 2rem; line-height: 2.2rem;}
header .util a span {font-weight: 700;}

/* ============================== [ footer ] ========================================================================================== */
footer {background-color: #fff;}
footer .f_cont {}
footer .f_cont .f_logo {}
footer .f_cont .f_logo img {}
footer .f_cont .m_info {}
footer .f_cont .m_info dl {}
footer .f_cont .m_info dt {}
footer .f_cont .m_info dd {}
footer .f_cont .m_info dd strong {}
footer .f_cont .pc_info {}
footer .f_cont .pc_info span {}
footer .f_cont .f_info {}
footer .f_cont .f_info p {}
footer .f_cont .addr {}
footer .f_cont .addr span {}
footer .f_cont .img_cc {}
footer .f_cont .img_cc img {}
footer .f_cont .copy {}




